# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

custom-boot-script.py
git.exe
inno-setup/installer.iss
inno-setup/setup.exe
odor_plane_names.csv
test.csv
testdata/40frames001.tif
testdata/beads004.tif
testdata/EngGCaMP2xOL_images.tif
testdata/test_50to100_.tif
testdata/test_50to100_shift x5 y-9.tif
testdata/Untitled-1.tif
*.pyc
geany_run_script.bat
msvcp90.dll
inno-setup/setup.zip
setup.py
*.exe
*.zip
testdata/FromPeter/Test1_010_movie.tif
testdata/FromPeter/Test1_022_zstack.tif
testdata/scanimage38/ii260809n01001.tif
testdata/ScanImageBTestFiles/ScanImageBTestFiles.offset
testdata/ScanImageBTestFiles/Test01_001_.tif
testdata/ScanImageBTestFiles/Test01_003_.tif
testdata/ScanImageBTestFiles/Test01_005_.tif